In [1]:
import pandas as pd

In [2]:
merchant_df = pd.read_parquet("../data/tables/tbl_merchants.parquet")
print("Number of merchants in the dataset:", merchant_df.shape[0])
print("Columns in merchant dataset:", [merchant_df.index.name] + merchant_df.columns.tolist())

# extract tags, revenue level and take rate from the "tags" column
merchant_df["tags"] = merchant_df["tags"].str.findall(r'[\(\[]+([^\)\]]*)[\)\]]')
merchant_df["revenue_level"] = merchant_df["tags"].str[1]
merchant_df["take_rate"] = merchant_df["tags"].str[2].str.extract(r'[^\d]*([\d.]*)').astype(float)
merchant_df["tags"] = merchant_df["tags"].str[0].str.lower()  # convert all letters to lowercase
merchant_df

Number of merchants in the dataset: 4026
Columns in merchant dataset: ['merchant_abn', 'name', 'tags']

,name,tags,revenue_level,take_rate
merchant_abn,,,,
10023283211,Felis Limited,"furniture, home furnishings and equipment shop...",e,0.18
10142254217,Arcu Ac Orci Corporation,"cable, satellite, and other pay television and...",b,4.22
10165489824,Nunc Sed Company,"jewelry, watch, clock, and silverware shops",b,4.40
10187291046,Ultricies Dignissim Lacus Foundation,"watch, clock, and jewelry repair shops",b,3.29
10192359162,Enim Condimentum PC,"music shops - musical instruments, pianos, and...",a,6.33
...,...,...,...,...
99938978285,Elit Dictum Eu Ltd,"opticians, optical goods, and eyeglasses",b,4.50
99974311662,Mollis LLP,"books, periodicals, and newspapers",b,3.17
99976658299,Sociosqu Corp.,shoe shops,a,6.57
99987905597,Commodo Hendrerit LLC,motor vehicle supplies and new parts,a,6.82
99990536339,Massa PC,motor vehicle supplies and new parts,e,0.18

In [45]:
#if need un truncated data, run this:
# with pd.option_context('display.max_colwidth', None):
#   display(merchant_df['tags'])

merchant_abn
10023283211    furniture, home furnishings and equipment shops, and manufacturers, except appliances
10142254217                            cable, satellite, and other pay television and radio services
10165489824                                              jewelry, watch, clock, and silverware shops
10187291046                                                   watch, clock, and jewelry repair shops
10192359162                               music shops - musical instruments, pianos, and sheet music
                                                       ...
99938978285                                                 opticians, optical goods, and eyeglasses
99974311662                                                       books, periodicals, and newspapers
99976658299                                                                              shoe  shops
99987905597                                                     motor vehicle supplies and new parts
99990536339                                                     motor vehicle supplies and new parts
Name: tags, Length: 4026, dtype: object

In [3]:
merchant_df['tags'] = merchant_df['tags'].str.split(',')
merchant_df['tags'] = merchant_df['tags'].str[0]

In [4]:
merchant_df['tags'] = merchant_df['tags'].str.split(' ')
merchant_df['tags'] = merchant_df['tags'].str[0]

In [5]:
merchant_df.loc[merchant_df.tags == 'computers', 'tags'] = 'computer'
merchant_df.loc[merchant_df.tags == 'artist', 'tags'] = 'artist supply'
merchant_df.loc[merchant_df.tags == 'art', 'tags'] = 'art dealer'
merchant_df.loc[merchant_df.tags == 'digital', 'tags'] = 'digital goods'
merchant_df.loc[merchant_df.tags == 'lawn', 'tags'] = 'garden supply'

In [6]:
merchant_df['tags'].unique()

array(['furniture', 'cable', 'jewelry', 'watch', 'music', 'gift',
       'computer', 'equipment', 'artist supply', 'florists', 'antique',
       'motor', 'books', 'stationery', 'tent', 'art dealer', 'bicycle',
       'digital goods', 'shoe', 'opticians', 'health', 'hobby',
       'garden supply', 'telecom'], dtype=object)

In [7]:
merchant_df.to_csv('../data/curated/merchant.csv')